.controls{
    width: 5vh;
    height: 5vh;
}
.cover{
    width:35vh;
    height:35vh;
    text-align: center;
    border-radius: 2%;
}

.songDiv{
    display: block;
    background-color:#9ea39f;
    padding: 4vh;
    margin:0;
    border-radius: 2%;
}


.controls-container{
    margin-top: 3vh;
}