.card{
    width: 15vh;
    height: 15vh;
}
.cover{
    width:40vh;
    height:40vh;
    display: block;
    text-align: center;
}

.songDiv{
    display: block;
    background-color:#9ea39f;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 5vh;
    border-radius: 5% ;
    margin:0;
  
}