
<div class="content" role="main">

    <!-- Hauptmenu -->
    <h1 style="font-size:60px;">Menu</h1>
    <p style="font-size:30px;">Select your action</p>
  
    <div class="card-container">
      <a class="card" target="_self" rel="noopener" routerLink="/rooms">
        <span style="font-size: 20px;">Create a room</span>
      </a>
  
      <a class="card" target="_self" rel="noopener" routerLink="/join">
        <span style="font-size: 20px;">Join a room</span>
      </a>
  
      <a class="card" target="_self" rel="noopener" routerLink="/settings" >
        <span style="font-size: 20px;" >Settings</span>
      </a>
  
    </div>
  
</div>