<div class="content" role="main">
    <div class="box">

        <!-- Enter E-Mail -->
        <div class="md-form">
            <input mdbInput placeholder="E-Mail" type="text" id="form58" class="form-control" [formControl]="FormEmail">
            <label style= color:black for="form58">E-Mail</label>
        </div>

        <!-- Enter Passwort -->
        <div class="md-form">
            <input mdbInput placeholder="Password" type="text" id="form58" class="form-control" [formControl]="FormPassword">
            <label style= color:black for="form58">Password</label>
        </div>
    </div>

    <!-- Sign-in Button
    /
    <div class="card-container">
        <button (click)="signIn()" class="card" target="_self" rel="noopener" routerLink="/home">
            <span style="font-size: 20px;">Submit</span>
        </button>
    </div>
     -->
    <button (click)="signIn()" type="submit">Submit</button>


</div>