<div class="content" role="main">

  <!-- <a *ngFor="rooms" [routerLink]="['/rooms', rooms.id]">
    {{ rooms.id }}

  </a> -->
  <a>

    <ul class="list-group list-group-flush" style="margin-right:auto">
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0);"> Roomname: {{roomName}}</h6>
      </li>
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0)"> RoomID: {{roomID}}</h6>
      </li>
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0)"> Password: {{password}}</h6>
      </li>
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0)"> Source: {{source}}</h6>
      </li>
    </ul>

    <!--ROUTEN EINFÜGEN -->
    <div class="card-container">
      <a class="card" target="_self" rel="noopener" routerLink="/room/{{roomID}}/playlist">
        <span style="font-size: 20px;">Playlist </span>
      </a>
      <a class="card" target="_self" rel="noopener" routerLink="/room/{{roomID}}/player">
        <span style="font-size: 20px;">Player </span>
      </a>
      <a class="card" target="_self" rel="noopener" routerLink="/">
        <span style="font-size: 20px;">QR-Code</span>
      </a>
      <a class="card" target="_self" rel="noopener" routerLink="/">
        <span style="font-size: 20px;">share link </span>
      </a>

    </div>
  </a>
</div>