<div class="content" role="main">
</div>

<div>
    <h1>
        &nbsp;
    </h1>
    <h2 style="text-align:center"> Create together with your friends <br> your own partyplaylist</h2>
</div>
<h1>
    &nbsp;
</h1>
<h1>
    &nbsp;
</h1>

<!--
<a routerLink="/home"> <img width="360" height="64" alt="googleLogin" class="center" src="../assets/Login_google.png" /></a>
-->

<div class="card-container">
    <a class="card" target="_self" rel="noopener" routerLink="/signin">
      <span style="font-size: 20px;">Sign in</span>
    </a>
    
    <a class="card" target="_self" rel="noopener" routerLink="/signup" >
      <span style="font-size: 20px;" >Sign up</span>
    </a>

  </div>