<div class="content" role="main">


  <!-- Title -->
  <h1 textalign="center" style="font-size:270%;">Select an avatar</h1>

  <br>


  <!-- Select your Avatar -->
  <div class="hiddenradio custom-control custom-radio custom-control-inline">
    <label>
      <input type="radio" class="custom-control-input" id="defaultInline1" name="avatar" mdbInput>
      <img src="../assets/img_avatar1.png" class="avatar">
    </label>

    <label>
      <input type="radio" class="custom-control-input" id="defaultInline2" name="avatar" mdbInput>
      <img src="../assets/img_avatar2.png" class="avatar">
    </label>

    <label>
      <input type="radio" class="custom-control-input" id="defaultInline3" name="avatar" mdbInput>
      <img src="../assets/img_avatar3.png" class="avatar">
    </label>

  </div>
    
  <div class="hiddenradio custom-control custom-radio custom-control-inline">
    <label>
      <input type="radio" class="custom-control-input" id="defaultInline3" name="avatar" mdbInput>
      <img src="../assets/img_avatar4.png" class="avatar">
    </label>

    <label>
      <input type="radio" class="custom-control-input" id="defaultInline3" name="avatar" mdbInput>
      <img src="../assets/img_avatar5.png" class="avatar">
    </label>

    <label>
      <input type="radio" class="custom-control-input" id="defaultInline3" name="avatar" mdbInput>
      <img src="../assets/img_avatar6.png" class="avatar">
    </label>

    
  </div>



  <!-- Submit your selected Avatar -->
  <div class="card-container">
    <a class="card" target="_self" routerLink="/settings">
      <span style="font-size: 20px;">submit</span>
    </a>
  </div>


</div>