<div class="content" role="main">

    <h1 textalign="center" style="font-size:270%;"  >Select an avatar</h1>

<br>
    <div class="hiddenradio" style="margin-left: auto;">
        <label>
          <input type="radio" name="avatar" value="small" checked>
          <img src="../assets/img_avatar1.png" class="avatar">
        </label>
        
        <label style="right: auto;">
          <input type="radio" name="avatar" value="big">
          <img src="../assets/img_avatar2.png" class="avatar">
        </label>

        <label>
          <input type="radio" name="avatar" value="small" checked>
          <img src="../assets/img_avatar3.png" class="avatar">
        </label>
        
        <label>
          <input type="radio" name="avatar" value="big">
          <img src="../assets/img_avatar4.png" class="avatar">
        </label>

        <label>
            <input type="radio" name="avatar" value="big">
            <img src="../assets/img_avatar5.png" class="avatar">
          </label>
        </div>
    
    </div>