<div class="content" role="main">


  <a>
    <div>
      <!-- (default) avatar -->
      <img alt="avatar" class="avatar" style="vertical-align:middle;" target="_self" rel="noopener"
        routerLink="/avatar" src={{avatar}} />
    </div>
    <!-- Username / UserID -->
    
    <a class="list-group list-group-flush" style="vertical-align:middle;margin-top:2%">
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0); text-align: center;">Change settings:</h6>
      </li>
      <li class="list-group-item">
        <div class="form-group row">
          <!-- Default input -->
          <label for="defaultSubscriptionFormName" class="col-sm-3 col-form-label">Name:</label>
          <div class="col-sm-9">
            <input type="text" [formControl]="FormName" id="defaultSubscriptionFormName"
            class="form-control mb-4" placeholder={{FormName}}>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group row">
          <!-- Default input -->
          <label for="defaultSubscriptionFormEmail" class="col-sm-3 col-form-label">Email:
          </label>
          <div class="col-sm-9">
            <input type="email" [formControl]="FormEmail" id="defaultSubscriptionFormEmail"
              class="form-control mb-4" placeholder={{FormEmail}}>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group row">
          <!-- Default input -->
          <label for="defaultSubscriptionFormPas1" class="col-sm-3 col-form-label">Password:</label>
          <div class="col-sm-9">
            <input type="text" [formControl]="FormPassword1" id="defaultSubscriptionFormPas1"
            class="form-control mb-4" placeholder={{FormPassword1}}>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group row">
          <!-- Default input -->
          <label for="defaultSubscriptionFormPas2" class="col-sm-3 col-form-label">Repeat password:</label>
          <div class="col-sm-9">
            <input type="text" [formControl]="FormPassword2" id="defaultSubscriptionFormPas2"
            class="form-control mb-4" placeholder={{FormPassword2}}>
          </div>
        </div>
      </li>
    </a>

    <br>
    <br>
    <br>

    <!-- Connections -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img style="float:left;" width=10% height=10% src="../assets/spotify.png" class="img-fluid" alt="spotify">
        <mdb-checkbox style="float:right;" [checked]="this.SpotifyStatus" [default]="false">connected</mdb-checkbox>
      </li>
      <li class="list-group-item">
        <img style="float:left;" width=10% height=10% src="../assets/youtube.png" class="img-fluid" alt="youtube">
        <mdb-checkbox style="float:right;" [checked]="this.YoutubeStatus" [default]="false">connected</mdb-checkbox>
      </li>
      <li class="list-group-item">
        <img style="float:left;" width=10% height=10% src="../assets/applemusic.png" class="img-fluid"
          alt="apple music">
        <mdb-checkbox style="float:right;" [checked]="this.AppleStatus" [default]="false">connected</mdb-checkbox>
      </li>
      <li class="list-group-item">
        <img style="float:left;" width=10% height=10% src="../assets/soundcloud.png" class="img-fluid" alt="soundcloud">
        <mdb-checkbox style="float:right;" [checked]="this.SoundcloudStatus" [default]="false">connected</mdb-checkbox>
      </li>
    </ul>
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6 style="color:rgb(0, 0, 0)"> Set your Default :</h6>
      </li>
    </ul>

    &nbsp;

    <!-- Set Default -->
    <div class="hiddenradio custom-control custom-radio custom-control-inline">
      <label>
        <input type="radio" class="custom-control-input" id="defaultInline1" name="setDefault" mdbInput [checked]="isDefault('Spotify')">
        <img width=70% height=90% src="../assets/spotify.png" class="custom-control-inline">
      </label>

      <label>
        <input type="radio" class="custom-control-input" id="defaultInline1" name="setDefault" mdbInput [checked]="isDefault('Youtube')">
        <img width=70% height=90% src="../assets/youtube.png" class="custom-control-inline">
      </label>

      <label>
        <input type="radio" class="custom-control-input" id="defaultInline1" name="setDefault" mdbInput [checked]="isDefault('Apple Music')">
        <img width=70% height=90% src="../assets/applemusic.png" class="custom-control-inline">
      </label>

      <label>
        <input type="radio" class="custom-control-input" id="defaultInline1" name="setDefault" mdbInput [checked]="isDefault('Soundcloud')">
        <img width=70% height=90% src="../assets/soundcloud.png" class="custom-control-inline">
      </label>
    </div>

    <!-- Submit your default app
    <div class="card-container">
      <a class="card" target="_self" routerLink="/settings">
        <span style="font-size: 20px;">submit</span>
      </a>
    </div>
     -->
  </a>


  <div class="card-container" style="margin-top: 20px;">
    <a class="card" target="_self" rel="noopener" routerLink="/home">
      <span style="font-size: 20px;">Back</span>
    </a>
  </div>



</div>