<div class="content" role="main">

  <!-- <a *ngFor="join" [routerLink]="['/join', join.id]">
    {{ join.id }}

  </a> -->

  <form class="text-center border border-light p-5" style="background-color: #9ea39f; width:60%">

    <p class="h4 mb-4">Join Room</p>

    <br>

    <!-- Insert roomcode -->
    <input type="text" id="form58" [formControl]="FormRoomcode" id="defaultSubscriptionFormName"
      class="form-control mb-4" placeholder="Insert roomcode">

    <!-- Submit button -->
    <button mdbBtn color="info" block="true" type="submit">Submit</button>
  </form>

  <div class="card-container" style="margin-top: 20px;">
    <a class="card" target="_self" rel="noopener" routerLink="/create">
        <span style="font-size: 20px;">Create Room</span>
    </a>
</div>

</div>