<!-- Suchleiste-->
<div class="content" role="main">

  <form class="text-center border border-light p-5" style="background-color: #9ea39f; width:100%; padding: 1em 4em 0em 4em !important;">
    <h3 class="text-center">Search for music</h3>
    <div class="input-group search">
      <input type='text' id='search' class="form-control search-form" placeholder="Search a song (song + artist)"
        [formControl]="FormSearch" (keyup.enter)="search()">
      <span class="input-group-btn" style="width:39px">
        <button id="search-this" type="button" class="pull-right btn btn-default search-btn" (keyup.enter)="search()"
          (click)="search()">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>

  <!--Font anpassen!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

  <!-- Suchfeld öffnet sich nachdem die Suche genutzt wurde -->
  <div *ngIf="checkStatus()" class="scrollbar table-responsive">
    <table mdbTable mdbTableScroll scrollY="true" maxHeight="300" class="table table-hover table-sm align-middle">
      <thead>
        <tr>
          <th *ngFor="let head of headElements;" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Song of songs" class="tableelement">
          <th scope="row" class="cover"><img src={{Song.imageInformation[0].url}} class="cover"></th>
          <td class="tableelement tablefit">{{Song.track}}</td>
          <td class="tableelement tablefit">{{Song.artist}}</td>
          <td class="tableelement">{{Song.album}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <!--Aktuelle Playlist noch anpassen -->
  <!-- <div *ngIf="checkStatus()" class="scrollbar table-responsive">
    <table mdbTable mdbTableScroll scrollY="true" maxHeight="400" class="table table-hover table-sm align-middle">
      <thead>
        <tr>
          <th *ngFor="let head of headElements;" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Song of songs" class="tableelement">
          <th scope="row" class="cover"><img src={{Song.imageInformation[0].url}} class="cover"></th>
          <td class="tableelement tablefit">{{Song.track}}</td>
          <td class="tableelement tablefit">{{Song.artist}}</td>
          <td class="tableelement">{{Song.album}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->



</div>