<div class="content" role="main">
    <div class="box">
            <div class="form-group column">
                <!-- Enter Name -->
                <div class="md-form">
                    <input mdbInput placeholder="Name" type="text" id="form58" class="form-control" [formControl]="FormName">
                    <label style=color:black for="form58">Name</label>
                </div>

                <!-- Enter E-Mail -->
                <div class="md-form">
                    <input mdbInput placeholder="E-Mail" type="text" id="form58" class="form-control" [formControl]="FormEmail">
                    <label style=color:black for="form58">E-Mail</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input mdbInput placeholder="Password" type="text" id="form58" class="form-control" [formControl]="FormPassword1">
                    <label style=color:black for="form58">Password</label>
                    <input mdbInput placeholder="Repeat password" type="text" id="form58" class="form-control" [formControl]="FormPassword2">
                </div>
                <p>Name: {{ FormName.value }}</p>
                <p>Email: {{ FormEmail.value }}</p>
                <p>Pw1: {{ FormPassword1.value }}</p>
                <p>Pw2: {{ FormPassword2.value }}</p>
            </div>
    </div>

    <!-- Submit Button -->
    <div class="card-container">
        <button (click)="signUp()" class="card" target="_self" rel="noopener" routerLink="/home">
            <span style="font-size: 20px;">Submit</span>
        </button>
    </div>

</div>