<div class="content" role="main">

  <!-- <a *ngFor="rooms" [routerLink]="['/rooms', rooms.id]">
    {{ rooms.id }}
  </a> -->

    <form class="text-center border border-light p-5" style="background-color: #9ea39f; width:60%">

      <p class="h4 mb-4">Create Room</p>

      <br>

      <!-- Roomname -->
      <input type="text" id="form58" [formControl]="FormRoomName" id="defaultSubscriptionFormRoomName"
        class="form-control mb-4" placeholder="Room Name">
      <!-- password1 -->
      <input type="password" id="form58" [formControl]="FormPassword1" id="defaultSubscriptionFormPassword1"
        class="form-control mb-4" placeholder="Password">
      <!-- password2 -->
      <input type="password" id="form58" [formControl]="FormPassword2" id="defaultSubscriptionFormPassword2"
        class="form-control mb-4" placeholder="Repeat password">

      <!-- Submit button -->
      <button mdbBtn color="info" block="true" type="submit" (click)="createRoom()">Submit</button>
    </form>

    <div class="card-container" style="margin-top: 20px;">
      <a class="card" target="_self" rel="noopener" routerLink="/home">
          <span style="font-size: 20px;">Back</span>
      </a>
  </div>

</div>