<div class="content" role="main">
   
   
    <ul class="list-group list-group-flush" style ="margin-right:auto">
      <li class="list-group-item">
        <h6  style ="color:rgb(0, 0, 0);"> Sessionname:&nbsp; &nbsp; &nbsp;</h6>
      </li>
      <li class="list-group-item">
        <h6  style ="color:rgb(0, 0, 0)"> Passwort:&nbsp; &nbsp; &nbsp;</h6>
      </li>
    </ul>


   <!--ROUTEN EINFÜGEN -->

    <div class="card-container">
        <a class="card" target="_self" rel="noopener" routerLink="/">
            <span style="font-size: 20px;">Playlist anzeigen</span>
        </a>
        <a class="card" target="_self" rel="noopener" routerLink="/">
            <span style="font-size: 20px;">Session verwalten</span>
        </a>
        <a class="card" target="_self" rel="noopener" routerLink="/">
          <span style="font-size: 20px;">QR-Code anzeigen</span>
        </a>
        <a class="card" target="_self" rel="noopener" routerLink="/">
          <span style="font-size: 20px;">Link teilen</span>
        </a>
    </div>
</div>